# Archivos compilados y de build
build/
output/
*.o
*.map
*.lbl
*.bin
*.hex
*.sym

# Archivos de sistema y editores
.DS_Store
Thumbs.db
.vscode/
*.swp
*.swo

# Basic (proyecto hermano)
basic/

# Monitor (proyecto externo)
monitor_6502_TN-9k_16k/
