# editor.cfg - Linker config para Editor VI
SYMBOLS {
    __STACKSIZE__: type = weak, value = $0200;
    __STACKSTART__: type = weak, value = $3DFF;
    __CONSTRUCTOR_COUNT__: type = weak, value = 0;
    __DESTRUCTOR_COUNT__: type = weak, value = 0;
}

MEMORY {
    ZP:     start = $0002, size = $00FE, type = rw, define = yes;
    LORAM:  start = $07C0, size = $0040, type = rw;
    EDITS:  start = $3834, size = $03D8, type = rw;
    RAM:    start = $0800, size = $3034, type = rw, file = %O, define = yes;
}

SEGMENTS {
    ZEROPAGE: load = ZP, type = zp, define = yes;
    STARTUP:  load = RAM, type = ro;
    RODATA:   load = RAM, type = ro, optional = yes;
    CODE:     load = RAM, type = ro, optional = yes;
    ONCE:     load = RAM, type = ro, optional = yes;
    DATA:     load = RAM, type = rw, define = yes, optional = yes;
    BSS:      load = LORAM, type = bss, define = yes, optional = yes;
    EDITBSS:  load = EDITS, type = bss, optional = yes;
}
